body{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.progress_bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    border: 1px solid rgb(0, 0, 0, .2);
    max-width: 600px;
    max-height: 300px;
    width: 80vw;
    height: 70vh;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 50px;
    box-shadow: 5px 5px 20px 10px rgb(0, 92, 254, .2);
    border-radius: 20px;
}
p{
    margin: 5px;
    margin-left: 25px;
}
.progress_bar_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.progress_bar_content_switches{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 150px;
    width: auto;
}
.progress_bar_content_switches div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
svg{
    width: 200px;
    height: 200px;
}
.ring{
  fill: none;
  stroke: rgb(0, 92, 254);
  stroke-width: 15px;
  transform-origin: center;
  transform: rotate(270deg);
}
.clone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0;
}
label{
    display: inline-block;
    height: 28px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
label span{
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 25%/50%;	
    background: #eee;
    transition: 1s;
    position: relative;
}
label span:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: 1s;
}
label input[type=checkbox]{
    display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
label input[type=checkbox]:checked + span {
    background: rgb(0, 92, 254);
}
label input[type=checkbox]:checked + span::before{
    transform:translateX(28px);
}
input[type=number]{
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 25%/50%;	
    background: #eee;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}